@charset 'utf-8';


@import 'settings';
@import 'foundation';
@import 'motion-ui';
@import 'fancybox';

@import url('https://fonts.googleapis.com/css?family=Varela+Round');

@include foundation-global-styles;
@include foundation-grid;
//@include foundation-flex-grid;

@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;


// @include foundation-prototype-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

/*
  My custom styles:
  Add your scss files below to structure your project styles
*/

// Global

@font-face{
  font-family:"AN-Reg";
  src:url("../fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix");
  src:url("../fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix") format("eot"),
  url("../fonts/2cd55546-ec00-4af9-aeca-4a3cd186da53.woff2") format("woff2"),
  url("../fonts/1e9892c0-6927-4412-9874-1b82801ba47a.woff") format("woff"),
  url("../fonts/46cf1067-688d-4aab-b0f7-bd942af6efd8.ttf") format("truetype"),
  url("../fonts/52a192b1-bea5-4b48-879f-107f009b666f.svg#52a192b1-bea5-4b48-879f-107f009b666f") format("svg");
}
@font-face{
  font-family:"AN-Bold";
  src:url("../fonts/dccb10af-07a2-404c-bfc7-7750e2716bc1.eot?#iefix");
  src:url("../fonts/dccb10af-07a2-404c-bfc7-7750e2716bc1.eot?#iefix") format("eot"),
  url("../fonts/14c73713-e4df-4dba-933b-057feeac8dd1.woff2") format("woff2"),
  url("../fonts/b8e906a1-f5e8-4bf1-8e80-82c646ca4d5f.woff") format("woff"),
  url("../fonts/890bd988-5306-43ff-bd4b-922bc5ebdeb4.ttf") format("truetype"),
  url("../fonts/ed104d8c-7f39-4e8b-90a9-4076be06b857.svg#ed104d8c-7f39-4e8b-90a9-4076be06b857") format("svg");
}

@font-face{
	font-family:"AN-Heavy";
	src:url("../fonts/3418f6be-70a5-4c26-af1d-c09a8642ca20.eot?#iefix");
  src:url("../fonts/3418f6be-70a5-4c26-af1d-c09a8642ca20.eot?#iefix") format("eot"),
  url("../fonts/5c57b2e2-f641-421e-a95f-65fcb47e409a.woff2") format("woff2"),
  url("../fonts/181c847e-cdbc-43d5-ae14-03a81c8953b4.woff") format("woff"),
  url("../fonts/045d1654-97f2-4ff0-9d24-21ba9dfee219.ttf") format("truetype"),
  url("../font/3c111f4f-c9f7-45d4-b35f-4f4ed018842f.svg#3c111f4f-c9f7-45d4-b35f-4f4ed018842f") format("svg");
}

@font-face{
  font-family:"AN-Round";
  src:url("../fonts/da5b695f-ece6-459a-87a6-afa095789070.eot?#iefix");
  src:url("../fonts/da5b695f-ece6-459a-87a6-afa095789070.eot?#iefix") format("eot"),
  url("../fonts/ad3c6c4a-3054-4bcc-b0de-596d767c68be.woff2") format("woff2"),
  url("../fonts/84f3e44b-61b2-4b2c-b0fd-e8044b9908e6.woff") format("woff"),
  url("../fonts/c1fbefa9-1480-4d86-abab-8f357f4a7962.ttf") format("truetype"),
  url("../fonts/74731d73-f46b-4e5d-8c95-a9f87a1ebb58.svg#74731d73-f46b-4e5d-8c95-a9f87a1ebb58") format("svg");
}
@font-face {
  font-family: "AN-Thin";
  src: url('../fonts/42c793cf-df5a-4e07-bf3e-37de54df02b6.eot?#iefix');
  src: url('../fonts/42c793cf-df5a-4e07-bf3e-37de54df02b6.eot?#iefix') format("eot"),
  url('../fonts/64779e28-a3b8-4364-949c-771372a0a327.woff2') format("woff2"),
  url('../fonts/c6c8e4be-17eb-4475-bbfc-bb485ffde766.woff') format("woff"),
  url('../fonts/87a872d0-5af3-4231-a77c-37f41ec74662.ttf') format("truetype"),
  url('../fonts/91464696-717b-4eaa-adbd-0dfc5e5fd782.svg#91464696-717b-4eaa-adbd-0dfc5e5fd782') format("svg")
}


@import "global/_accessibility";
@import "global/colors";
@import "global/wp-admin";
@import "global/wp-overrides";

// Modules
@import "modules/navigation";
@import "modules/content";
@import "modules/footer";
@import "modules/editor-style";

// Components
@import "components/loader";
@import "components/buttons";
@import "components/cards";
@import "components/featured-image";
@import "components/dividers";
@import "components/links";
@import "components/widgets";

@import "components/_artist-modal.scss";


// Templates
@import "templates/front";
@import "templates/kitchen-sink";

@import 'settings';
@import 'foundation';

@import 'vendor/slick';

* {
	box-sizing: border-box;
}

body {
	background: #fff;
}

section {
	max-width: 1440px;
	width: 100%;
	position: relative;
	margin: 0 auto;
	h1 {
		color: black;
	}
}
//Variables
//TODO: move to global variables
@mixin linear-gradient($direction, $color-stops...) {
	background: nth(nth($color-stops, 1), 1);
	background: linear-gradient($direction, $color-stops);
}

@mixin aspect-ratio($width, $height) {
	position: relative;
	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}
	>.content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}
$gallery-hover-gradient-start: rgba(0,0,0,0);
$gallery-hover-gradient-end: rgba(0,0,0,0.5);
$gallery-nav-arrow-gradient-start: rgba(0,0,0,0);
$gallery-nav-arrow-gradient-end: rgba(0,0,0,0.5);
$gallery-nav-arrow-gradient-end-hover: rgba(0,0,0,0.55);
$gallery-space-between: 2px;

$news-feed-padding: 30px;
$news-feed-bg-gradient-start: rgba(0,0,0,0);
$news-feed-bg-gradient-end: rgba(0,0,0,0.5);
$featured-artists-padding: 30px;
$featured-artists-bg-gradient-start: rgba(0,0,0,0);
$featured-artists-bg-gradient-end: rgba(0,0,0,0.5);

// mobile sider dot styles
$non-active-dot-opacity: .5;
$active-dot-opacity: 1;
%slick-dots {
  position: absolute;
  top: -30px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  li {
    position: relative;
    display: inline-block;
    height: 30px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    button {
      border: 0;
      background: transparent;
      display: block;
      height: 30px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer;
      &:hover, &:focus {
        outline: none;
        &:before {
          opacity: $active-dot-opacity;
        }
      }
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: '•';
        width: 20px;
        height: 30px;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        color: #000;
        opacity: $non-active-dot-opacity;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
    &.slick-active button:before {
      color: #000;
      opacity: $active-dot-opacity;
    }
  }
}

@import 'components/gallery';
@import 'components/news-feed';
@import 'components/featured-social';
@import 'components/featured-artists';