.artist-info-modal {
    background: #fff;
    max-width: 1024px;
    padding: 0;
}

.artist-image {
    display: block;
    height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fancybox-close-small:after {
    color: #fff;
    font-size: 34px;
}

.artist-content-wrapper {

    padding: 60px 80px;

    @media screen and (max-width: 1024px) {
        padding: 15px;
    }

    h4 {
        font-size: 2em;
    }

    .artist-title-wrapper {

        display: block;

        .artist-name {
            text-align: left;
        }
        
        .artist-social {
            text-align: right;
            i {
                font-size: 30px;
                margin-left: 16px;
                color: #333;
            }
        }

        .artist-website {
            color: #333;
        }
    
    }

    .artist-bio-block {
        display: block;
        margin-top: 30px;
    }

    .artist-music-block {
        margin-top: 30px;
    }

    .artist-video-block {
        margin-top: 30px;
        iframe {
            width: 100% !important;
            height: 350px !important;
        }
    }

}