.sites-button {
  background: $primary-color;
  font-size: 1.25rem;
  font-weight: bold;
  box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
  border-radius: 3px;
  border: none;
}

.fasc-button:hover {
  color: #000 !important;
}

.fasc-outline {
  background-color: transparent !important;
  border: 1px solid #000 !important;
  color: #000 !important;
  transition: all 0.3s ease 0s;
}

.fasc-type-flat {
  background-color: #000;
  color: #fff;
  transition: all 0.3s ease 0s;
}
