.featured-image {
  display: block;
  height: 550px;
  width: 100%; // float: right;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (max-width: 1024px) {
    float: none;
    width: 100%;
  }
}

.featured-social {
  .arrow-wrapper {
    text-align: right;
  }

  .mobile {
    display: none;
    @media screen and (max-width: 1024px) {
      display: block;
    }
  }

  .desktop {
    display: block;
    @media screen and (max-width: 1024px) {
      display: none;
    }
  }

  .read-more-container {
    position: relative;
    // width: 95%;
    height: 35px;
    border-top: 1px solid #000;
    padding-top: 5px;
    margin-top: 20px;
    @media screen and (max-width: 1024px) {
      position: unset;
      margin-left: 0;
    }
    a {
      text-transform: uppercase;
      color: #000;
    }
  }
  /* Slider */
  h3 {
    font-size: 35px;
    margin-top: 42px;
    margin-bottom: 18px;
  }
  .featured-social_item:focus {
    border: none !important;
    outline: none;
  }
  .read-more-wrapper {
    position: absolute;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #000;
    height: 30px;
    padding-top: 5px;
    .read-more {
      // margin-top: 10px;
      // margin-left: 20px;
      text-transform: uppercase;
    }
  }
  .content-section {
    position: relative;
    // padding-left: 0;
    padding-left: 30px;
    font-size: 15px;

    display: flex;
    height: 100%;
    flex-direction: column;
    @media screen and (max-width: 1024px) {
      padding: 0 15px;
    }
    .text-wrapper {
      flex: 1;
    }
    .read-more-block-wrapper {
      width: 100%;
      position: relative;
      border: 0;
      display: block;
    }
    .author-wrapper {
      border-left: 3px solid #000;
      margin-bottom: 20px;
      font-weight: 400;
      span.by {
        margin-left: 15px;
      }
      span.artical-author {
        text-transform: uppercase;
        color: #000;
        font-weight: 400;
      }
    }
  }
  .remove-padding-right {
    padding-right: 0;
    @media screen and (max-width: 1024px) {
      padding: 0;
    }
  }
  .remove-padding-left {
    padding-left: 0;
    @media screen and (max-width: 1024px) {
      padding: 0;
    }
  }
  .slick-list {
    .slick-loading & {
      background: #fff slick-image-url("../images/ajax-loader.gif") center center no-repeat;
    }
  }
  /* the slides */
  .slick-slide {
    height: 550px;
    margin: 0 ($news-feed-padding / 2); // height: 325px;
    @media screen and (max-width: 1024px) {
      height: auto;
      margin: 0;
    }
  }
  /* the parent */
  .slick-list {
    margin: 0 -($news-feed-padding / 2);
  }
  /* Arrows */
  .slick-prev,
  .slick-next {
    // position: absolute;
    display: none;
  }
  .slick-dots{
		@extend %slick-dots;
	}
  .prevArrow,
  .nextArrow {
    display: inline-block;
    // position: absolute;
    height: 15px;
    width: 15px;
    cursor: pointer;
    z-index: 2;
    background: transparent;
    span {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      margin: 0 auto;
    }
    &.slick-disabled {
      opacity: 0.25;
      cursor: default;
    }
  }

  .count {
    margin: 0 10px;
  }
  .prevArrow {
    // left: 40%;
    // margin-right: 20px;
    bottom: 10px;
    span {
      background-image: url('../images/icons/prev-arrow_black.svg'), none;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }
  }
  .nextArrow {
    // right: 50%;
    bottom: 10px;
    span {
      background-image: url('../images/icons/next-arrow_black.svg'), none;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }
  }
  article {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; // height: 426px;
    // width: 322px;
    // margin-right: 30px;
    @include aspect-ratio(322,
    426);
    &:before {
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 75%);
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 75%);
      -webkit-transform: translate3d(0);
      transform: translate3d(0);
    }
    &:hover {
      background-color: rgb(245, 245, 245);
      border-top: 2px solid #636363;
      border-bottom: 2px solid #444444;
      box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, .5);
      transform: scale(1.025);
      z-index: 2;
    }
    .copy-container {
      position: absolute;
      padding: 0 15px;
      left: 0;
      bottom: 30px;
      .author {
        color: #fddd00;
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
      .title {
        color: white;
        text-transform: uppercase;
        font-size: 25px;
        line-height: 1;
      }
    }
    footer {
      position: absolute;
      bottom: 30px;
      left: 20px; // background: red;
      a {
        color: white;
        position: relative;
        text-transform: uppercase;
        font-size: 12px;
        display: inline-block;
        padding-bottom: 10px;
        border-bottom: 2px solid #1abfd5;
      }
    }
  }
}
