.disable-scroll {
	overflow: hidden;
}
#page-loader {
	display: block;
	position: fixed;
	z-index: 9999;
	background: #000000;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	.loader-container {
		position: relative;
		top: 50%;
		left: 50%;
		width: 100px;
		height: 100px;
		transform: translate(-50%,-50%);
		svg{
			width: 100px;
			height: 100px;
			display:block;
			position: relative;
			animation: .5s loaderRotate infinite linear;
		}
	}
}
@keyframes loaderRotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(359deg);
	}
}