.related-post {
	border-left: 3px solid #000;
	margin-bottom: 40px;
	&:last-child {
		margin-bottom: 0;
	}
	.copy-container {
		padding: 10px 0 10px 25px;
	}
	.title {
		font-family: 'AN-Reg';
		font-size: 1.2em;
	}
	span {
		display: block;
		margin-bottom: 10px;
	}
	p {
		margin-bottom: 0;
		font-size: 12px;
		line-height: 18px;
	}
	a {
		color: #000;
	}
}

.news-feed {
	/* Slider */
	.slick-list {
		.slick-loading & {
			background: #fff slick-image-url("../images/ajax-loader.gif") center center no-repeat;
		}
	}
	/* the slides */

	.slick-slide {
		margin: 0 ($news-feed-padding / 2);
		@media screen and (max-width: 1024px) {
			margin: 0;
		}
		// height: 325px;
	}
	/* the parent */

	.slick-list {
		padding: 6px 0;
		margin: 0 -($news-feed-padding / 2);
	}

	/* Arrows */
	.slick-prev,
	.slick-next {
		position: absolute;
		display: none;
	}
	.slick-dots{
		@extend %slick-dots;
	}
	.gPrevArrow, .gNextArrow {
		display: block;
		position: absolute;
		height: 30px;
		cursor: pointer;
		width: 30px;
		top: 50%;
		transform: translateY(-50%);
		z-index: 2;
		background: transparent;

		span {
			display: block;
			width: 100%;
			height: 100%;
			position: relative;
			margin: 0 auto;
		}
		&.slick-disabled {
			opacity: 0.25;
			cursor: default;
		}
	}
	.gPrevArrow {
		left: -30px;
		@media screen and (max-width: 1024px) {
			left: 0;
		}
		span {
			background-image: url('../images/icons/prev-arrow_black.svg'),
			none;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
		}
	}
	.gNextArrow {
		right: -30px;
		@media screen and (max-width: 1024px) {
			right: 0;
		}
		span {
			background-image: url('../images/icons/next-arrow_black.svg'), none;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
		}
	}

	article {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		// height: 426px;
		// width: 322px;
		// margin-right: 30px;
		@include aspect-ratio(322, 426);
		>a {
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
		p {
			color: #fff;
			line-height: 1.1em;
			font-size: .8em;
		}

		&:before {
			display: block;
			content: '';
			width: 100%;
			height: 100%;
			background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 75%);
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 75%);
			-webkit-transform: translate3d(0);
			transform: translate3d(0);
		}
		transition: all .125s ease;
		&:hover {
			background-color: rgb(245, 245, 245);
			// border-top: 2px solid #636363;
			// border-bottom: 2px solid #444444;
			box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, .5);
			transform: scale(1.025);
			z-index: 2;
			@media screen and (max-width: 1024px) {
				transform: none;			}
		  }
		.copy-container {
			position: absolute;
			padding: 0 15px;
			left: 0;
			bottom: 30px;
			.author {
				color: #fddd00;
				font-size: 14px;
				text-transform: uppercase;
				margin-bottom: 20px;
			}
			.title {
				color: white;
				text-transform: uppercase;
				font-size: 35px;
				line-height: 1;
				font-family: 'AN-Heavy';
			}
		}

		footer {
			position: absolute;
			bottom: 30px;
			left: 20px;

			// background: red;

			a {
				color: white;
				position: relative;
				text-transform: uppercase;
				font-size: 12px;
				display: inline-block;
				padding-bottom: 10px;
				border-bottom: 2px solid #1abfd5;
			}
		}
	}
}
