/* WP 3.6 Native Audio Player styling*/

/* change the color of the background */

.mejs-controls {
  // background: url('') !important;
  // background-color: #C8E1FA !important;
  display: none !important;
}

/* change the color of the lettering */

// .mejs-currenttime,
// .mejs-duration {
// color: black !important;
// }
/* eliminate the yellow border around the play button during playback */

.marquee-banner-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-top: -30px;
  margin-bottom: 0; // display: block;
  line-height: 50px;
  background-color: #000;
  .marquee-title {
    color: #fff;
    position: absolute;
    background-color: #000;
    background: #000;
    padding-left: 30px;
    padding-right: 30px;
    z-index: 999;
    text-transform: uppercase;
    font-weight: 800;
  }
  .marquee {
    position: relative;
    width: 200%;
    animation: scroll 30s linear infinite;
    &:hover {
      animation-play-state: paused;
    }
    .marquee-item {
      margin-right: 30px;
      position: relative;
      float: left;
      .title {
        line-height: 40px;
        margin-top: .4rem;
      }
      a {
        color: #fff;
        text-transform: uppercase;
      }
    }
  }
}

/* Make it move */
@keyframes scroll{
  0% {left:100%;}
  100% {left:-120%;}
  }

.mejs-controls .mejs-button button:focus {
  outline: none !important;
}

// SOW Widget Overrides 
figure h2 {
  text-transform: uppercase;
  font-size: 2rem;
  color: #fff;
}

.panel-grid {
  margin-bottom: 45px !important;
  @media screen and (max-width: 1024px) {
    margin-bottom: 40px !important;
  }
}

// Slider
.sow-slider-image-wrapper {
  p {
    font-size: 14px !important;
    line-height: 18px !important;
  }
  .center-vertical {
    display: inline-block;
    vertical-align: middle;
    margin: 100px 0;
    @media screen and (max-width: 1024px) {
      margin: 30px 0;
    }
  }
  h5 {
    font-family: "AN-Round";
    margin: 20px 0 !important;
    font-weight: 100 !important;
  }
}

.timeline-Viewport {
  height: 530px !important;
}

.timeline-header,
.timeline-footer {
  display: none !important;
}

.textwidget {
  margin-left: 35px;
  margin-right: 30px;
  @media screen and (max-width: 1024px) {
    margin-left: 0;
    margin-right: 0;
  }
  h1 {
    font-size: 49px;
    margin-bottom: 20px;
  }
  p {
    color: #000; // margin-right: 100px;
    @media screen and (max-width: 1024px) {
      margin-left: 0;
    }
  }
}

.custom-html-widget {
  margin-left: 0;
}

a.fasc-button {
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  margin: 30px 2px;
  cursor: pointer;
  text-transform: uppercase;
  .fasc-outline {
    border: 1px solid #000 !important;
    color: #000 !important;
    background-color: transparent !important;
  }
  .fasc-type-flat {
    background-color: #000 !important;
    color: #fff !important;
    border: none !important;
  }
  &:hover {
    background-color: #ebebeb;
  }
}

.sow-carousel-nav-container {
  // position: relative;
}

.sow-carousel-title a.sow-carousel-next:before {
  content: "〉";
}

.sow-carousel-title a.sow-carousel-previous:before {
  content: "〈";
}

.so-widget-sow-post-carousel {
  position: relative;
}

a.sow-carousel-next,
a.sow-carousel-previous {
  background: transparent !important;
  position: absolute !important;
  font-size: 50px !important;
  line-height: normal !important;
  top: 50% !important;
  width: inherit !important;
  z-index: 99;
}

a.sow-carousel-previous {
  left: 0 !important;
  margin-left: -100px !important;
}

a.sow-carousel-next {
  right: 0 !important;
  margin-right: -100px !important;
}

.sow-carousel-container {
  .sow-carousel-items {
    &.disable {
      width: 100% !important;
      li {
        width: 100% !important;
      }
    }
  }
}

.so-widget-sow-hero {
  margin-top: 112px;
  @media screen and (max-width: 1024px) {
    margin-top: 0;
  }
}

li.sow-carousel-item h3 {
  text-transform: uppercase;
  font-size: 2rem !important;
  text-align: left !important;
  font-weight: 800;
}

.sow-image-container {
  color: $white;
  position: relative;
  h3,
  h2 {
    text-transform: uppercase;
    font-weight: bold;
  }
  .image-inner-copy {
    display: block;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-40%, -45%);
    width: 80%;
  }
  .imge-sub-title {
    line-height: 16px;
    font-size: small;
  }
}

.featured-artist-wrapper {
  position: relative;
}

.featured-artist-title {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 25px;
}

.featured-artist-image.right {
  text-align: right;
  img {
    border-radius: 50%;
  }
}

.featured-artist-image.left {
  text-align: left;
  img {
    border-radius: 50%;
  }
}

.featured-artist-content {
  background-color: #fff;
  padding: 15px;
  position: absolute;
  display: block;
  top: 54%;
  left: 25%;
  width: 65%;
  p {
    margin-bottom: 0;
    color: #c0c0c0;
    line-height: 1.3;
  }
  &.left {
    left: 20%;
  }
  &.right {
    left: 20%;
  }
}

.post-card-wrapper {
  position: relative;
}

.post-card {
  position: relative;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-size: cover;
  padding: 35px 18px;
  width: calc(25% - ( 0.75 * 30px));
  margin-bottom: 30px;
  margin-right: 30px;
  color: #fff;
  float: left;
  /* text-align: center; */
  transition: all .2s ease-in-out; // cursor: pointer;
  height: 400px;
  @media screen and (max-width: 1024px) {
    width: 100%;
  }
}

.post-card-read-more {
  text-transform: uppercase;
  border-bottom: 2px solid #fff;
  color: #fff;
  padding-bottom: 6px;
  font-size: 14px;
  &:hover {
    color: #fff;
  }
}

.post-card::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 75%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 75%);
  content: '';
  opacity: 1;
  -webkit-transform: translate3d(0);
  transform: translate3d(0);
}

.post-card:hover {
  background-color: rgb(245, 245, 245);
  border-top: 2px solid #636363;
  border-bottom: 2px solid #444444;
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, .5);
  transform: scale(1.025);
  z-index: 2;
}

.post-card:nth-of-type(4n) {
  clear: right;
  margin-right: 0;
}

.post-card-image {
  display: block;
  margin: 0 auto;
  max-width: 50%;
  text-align: center;
  height: auto;
  border-radius: 50%;
}

.post-card-title {
  font-family: "AN-Reg";
  font-size: 20px;
  font-weight: 800;
  line-height: 1em;
  color: #fff;
  text-transform: uppercase;
  margin-right: 20px;
  margin-bottom: 5px;
}

.post-card-title a {
  font-family: "AN-Reg";
  color: #fff;
}

.post-card-author {
  display: block;
  color: #E4CB45;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.post-card-info-wrapper {
  position: absolute;
  bottom: 30px;
  display: block;
  color: #fff;
}

.post-card-info {
  margin: 0;
  font-size: 17px;
  line-height: .75;
  font-weight: 300;
}

.post-card-artist-name {
  display: block;
  font-size: 14px;
  font-style: italic;
}

.ds-card-actions {
  justify-content: space-between;
  color: #fff;
}

.post-card-website {
  font-size: 11px;
  width: 25px;
  height: 25px;
  text-decoration: none;
  color: #fff;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
}

.post-card-actions__item {
  color: #fff;
  margin-right: 10px;
  font-size: 18px;
}

.post-card-actions__item:hover {
  color: #8b95a8;
}

.showinfo {
  display: block;
  position: absolute;
  top: 300px;
  width: 100%;
  height: 200px;
  background-color: #fff;
}

.sow-google-map-canvas {
  @media screen and (max-width: 1024px) {
    margin-left: -15px;
    margin-right: -15px;
  }
}
