h1, h2, h4, h5 {
  text-transform: uppercase;
  line-height: 1em !important;
}

h1, h2 {
  font-family: "AN-Heavy";
  font-size: 50px;
  @media screen and (max-width: 1024px) {
    // font-size: 40px !important;
  }
  a {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 25px;
  }
}

h3 {
  font-family: "AN-Thin";
  text-transform: uppercase;
  font-size: 75px;
  line-height: 1em;
  @media screen and (max-width: 1024px) {
    font-size: 40px;
  }
}

h5 {
  @media screen and (max-width: 1024px) {
    font-size: 20px !important;
  }
}

img.responsive {
  width: 100%;
}

.gallery-item {
  margin: 0;
  width: 170px;
  height: 170px;
  float: left;
  position: relative;
  @media screen and (max-width: 1024px) {
    width: 100%;
  }
  .gallery-icon {
    img {
      max-width: 125%;
    }
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.post-page {
  a {
    color: #000;
    text-decoration: underline;
  }
}

.nf-field-submit {
  margin-left: 20px !important;
  text-transform: uppercase;
  color: #fff;
  padding: 10px;
  background: rgba(0, 0, 0, .5);
}

.label-hidden .nf-field-element {
  width: 100%;
  margin-right: 20px;
}

.nf-error-required-error,
.nf-error-msg {
  display: none !important;
}

.nf-field-input {
  border: 1px solid rgba(255,255,255,.3);;
  margin-right: 15px !important;
  background: rgba(0, 0, 0, .5);
  color: #fff;
}

.nf-field-check {
  margin-top: 9px;
}

.nf-field-input:focus   {
  background-color: rgba(0, 0, 0, .8);
}

.nf-form-fields-required {
  display: none !important;
}

.nf-field-label>label {
  color: #fff !important;
  font-weight: normal;
}

nf-field {
  float: left !important;
}

.main-container {
  @include xy-grid-container(1440px);
  position: relative;
  @media screen and (max-width: 1024px) {
    padding: 0;
  }
  h1 {
    font-size: 49px;
    margin-bottom: 30px;
  }
  .post-image-wrapper {
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
    display: block;
    @media screen and (max-width: 1024px) {
      margin-right: 0;
    }
    .post-image {
      display: block;
      width: 355px;
      height: 450px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
    .mobile-post-image {
      display: none;
      width: 100%;
      @media screen and (max-width: 1024px) {
        display: block;
      }
      img {
        width: 100%;
      }
    }
  }
}

.main-content {
  margin-top: 150px;
  @media screen and (max-width: 1024px) {
    margin-top: 35px;
  }
}

.main-grid {
  @include xy-grid(); // margin-top: 1rem;
  // @include breakpoint(medium) {
  //   margin-top: 3rem;
  // }

  // .widget {
  //   margin-top: 30px;
  // }

  &.sidebar-left {
    // Place the sidebar below main content on small screens ...
    @include breakpoint(small) {
      .main-content {
        order: 1;
      }
      .sidebar {
        order: 2;
      }
    } // ... and to the left on medium-up screens, when using the sidebar-left template
    @include breakpoint(medium) {
      .main-content {
        order: 2;
      }
      .sidebar {
        order: 1;
      }
    }
  } // Full width template
  .main-content-full-width {

    &.temp-full {
      margin-top: 130px;
    }

    @include xy-cell(12);
  } // Default template
  .main-content {
    @include breakpoint(small) {
      @include xy-cell(12);
    }
    @include breakpoint(medium) {
      @include xy-cell(8);
    }
  }
  .sidebar {
    @include breakpoint(small) {
      @include xy-cell(12);
    }
    @include breakpoint(medium) {
      @include xy-cell(4);
      margin-top: 10rem;
    }
  }
}

.nf-field-label label {
  font-weight: normal !important;
}

.sow-slider-image-wrapper {

  @media screen and (max-width: 1024px) {
    padding: 20px 20px !important;
    padding-bottom: 30px !important;
  }
}

.sow-slider-image-container {
  p {
    line-height: 1em !important;
    font-size: 20px !important;
    line-height: 1.2em;
    color: rgba(255,255,255,.5);
    margin-bottom: 20px !important;
  }
}


.ninja-forms-form-wrap * {
  @media screen and (max-width: 1024px) {
    width: 100%;
  }
}

.nf-field-element {
  @media screen and (max-width: 1024px) {
    margin-right: 0;
  }
}