.footer-container {
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid $black;
  // margin-top: rem-calc(60);
  @media screen and (max-width: 1024px) {
    width: 100%;
  }
}

.footer {
  @include xy-grid-container;
  @include xy-grid;
  padding: rem-calc(30) 0;

  section {
    @include xy-cell(auto);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
