// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  .header-logo {
    width: 65px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  @include hide-for(medium);
}

.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(medium);
}

// Site title
.site-desktop-title a {
  font-weight: bold;
}

// Mobile menu
.mobile-menu {
  display: none; // prevents repaint caused by JS hiding menu onload

}

.menu-icon {
  margin: 1rem !important;
}

.off-canvas {
  >ul.menu {
    height: 100vh;
    padding: 1rem;
    a {
      color: $white;
      font-weight: 600;
      font-size: rem-calc(15);
    }
  }
  .menu .active>a {
    background-color: #ccc;
  }
}

.site-mobile-title {
  .header-logo {
    width: 88px;
  }
}

.title-bar-title {
  a {
    font-size: 1rem;
    color: #B9B9B9;
  }
}

.title-bar {
  padding: 0;
  background-color: $black;
}

.mobile-menu,
.mobile-off-canvas-menu {
  background: $black;
  .menu .is-active>a {
    background-color: transparent;
    font-weight: 700;
    border-bottom: 3px solid #E0228E;

  }
}

// Tablet and desktop menu
.top-bar {
  background-color: $black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;

  @media screen and (max-width: 1024px) {
    position: relative;
  }
  .top-bar-title a {
    font-size: .5rem;
    color: #B9B9B9;
    padding-left: 1rem;
    line-height: 1.8;
    &:hover {
      background: transparent;
      background-color: transparent;
    }
  }
  ul {
    background-color: $black;
    display: inline-flex;
    li {
      margin: 20px 15px;
      @media (max-width: 1045px){
        margin: 20px 10px;
      }
    }
  }
  .menu {
    .is-active {
      >a {
        color: lighten($dark-nav-color, 50%);
        font-weight: 500;
        &:before {
          content: '';
          display: block;
          position: absolute;
          height: 100%;
          left: -8px;
          width: 3px;
          background: #E0228E;
        }
      }
    }
    a {
      color: $white;
      display: inline-block;
      padding-top: 0;
      padding-bottom: 0;
      font-weight: bold;
      font-size: 0.8rem;
      line-height: 1;
      text-transform: uppercase;
      &:hover:not(.button) {
        &:before {
          content: '';
          display: block;
          position: absolute;
          height: 100%;
          left: -8px;
          width: 3px;
          background: #E0228E;
        }
      }
    }
  }
  .menu .active>a {
    background-color: #ccc;
  }
  .menu>li:not(.menu-text)>a {
    padding: 0;
    color: #fff;
    padding-bottom: 5px;
  }
  .dropdown.menu .submenu {
    border: 0;
  }
  .dropdown.menu .has-submenu.is-down-arrow a {
    padding-right: 1rem;
  }
  .dropdown.menu .has-submenu.is-down-arrow>a::after {
    border: 0;
  }
  .dropdown.menu:first-child>li.is-dropdown-submenu-parent>a::after {
    display: none;
  }
}

.main-nav {
  background-color: $black; // margin-top: 44px;
  .header-logo {
    width: 88px;
    margin-top: 10px;
    margin-left: 70px;
    margin-bottom: 10px;
    margin-right: 30px;

    @media (max-width: 1263px){
      margin-left: 30px;
    }
    @media (max-width: 1085px){
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  .top-bar-left {
    position: relative;
    display: block;
    width: 100%;
    z-index: 999;
  }
  .top-bar-title a {
    font-size: 1rem;
    color: #B9B9B9;
    padding-left: 1rem;
    line-height: 1.8;
  }
  .menu a {
    color: lighten($dark-nav-color, 5%);
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
    font-size: .9rem;
    line-height: 1;
    text-transform: uppercase;
    position: relative;
    font-weight: 500;
    @media (max-width: 1223px){
      font-size: .7rem;
    }
    // &:hover:not(.button) {
    //   background-color: transparent;
    //   border-left: 3px solid #E0228E;
    //   padding-left: 5px !important;
    // }
  }
  // .menu .is-active>a {
  //   color: lighten($dark-nav-color, 50%);
  //   font-weight: 400;
  //   // border-left: 3px solid #E0228E;
  //   padding-left: 5px !important;
  //   &:before {
  //     content: '';
  //     display: block;
  //     position: absolute;
  //     height: 100%;
  //     left: -3px;
  //     width: 3px;
  //     background: #E0228E;
  //   }
  // }
  .menu>li:not(.menu-text)>a {
    padding: 0;
    // padding-left: 8px;
  }
  .dropdown.menu .submenu {
    border: 0;
  }
  .dropdown.menu .has-submenu.is-down-arrow a {
    padding-right: 1rem;
  }
  .dropdown.menu .has-submenu.is-down-arrow>a::after {
    border: 0;
  }
  .dropdown.menu:first-child>li.is-dropdown-submenu-parent>a::after {
    display: none;
  }
}

.site-navigation {
  @include breakpoint(small only) {
    padding: 0; // prevents container visibility on small screens
  }
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float: left;
}

.nav-next {
  float: right;
}

.mobile-menu {
  text-align: center;
  ul {
    width: 100%;
    li {
      margin: 9px 23px;
    }
  }
  .top-bar-right {
    text-align: center;
    line-height: 70px;
  }
  i {
    font-size: 2.2em;
  }
  .top-bar-right {
    a {
      padding-bottom: 45px;
    }
    img {
      width: 25px;
    }
  }
}

@keyframes slide-in {
  100% {
    transform: translateX(-100%);
  }
}


.footer-links {
  text-align: center;
  margin-top: 60px;
  ul li {
    display: inline-block;
    margin-left: 10px;
    &:first-child {
      margin-left: 0;
      &:before {
      content: '';
      margin-right: 15px;
      }
    }
    &:before {
      content: '|';
      margin-right: 15px;
    }
    a {
      text-transform: uppercase;
      color: #000;
      font-size: 11px;
    }
  }
}

.footer-icons {
  // margin-right: 60px;
  margin-top: 20px;
  text-align: center;
  display: inline-block;

  a {
    color: #000;
    margin-right: 60px;
    @media screen and (max-width: 1024px) {
      margin-right: 20px;
    }
    i {
      font-size: 2.3em;
    }
  }
}

.footer-logos {
  text-align: center;
  margin-top: 50px;
  img {
    margin-right: 50px;
    @media screen and (max-width: 1024px) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  img:last-child {
    margin-right: 0;
  }
}

.desktop-icons {
  margin-right: 60px;
  margin-bottom: 8px;
  margin-top: 10px;
  img {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-bottom: 7px;
  }
  @media (max-width: 1120px){
    margin-right: 30px;
  }
  @media screen and (max-width: 1023px) {
    display: none;
  }
  #searchform {
    .input-group {
      margin-bottom: 0;
      .input-group-field {
        background: $black;
        background-color: $black;
        border: none;
        color: #fff;
        display: none;
        transition: all .5s ease;
        transform: translateX(-100%);
        &.show {
          display: inline-block;
          position: fixed;
          right: 83px;
          transform: translateX(0);
        }
      }
      .input-group-field:focus {
        box-shadow: none;
      }
    }
    display: inline-block;
    .input-group-button {
      padding-top: 7px;
      cursor: pointer;
      i {
        font-size: 1.3em;
      }
    }
  }
  a {
    color: #fff;
    margin-right: 20px;
    i {
      font-size: 1.3em;
    }
  }
}

#menu-main-menu {
  display: inline-flex;
  li {
    position: relative;
    display: inline-block;
    padding: 15px 0;
  }
}

#menu-utility-nav {
  li {
    margin: 15px 50px;
    a {
      font-size: .8rem;
    }
  }
}
